.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('ryba2.jpg'); /* Ścieżka do obrazu */
  background-size: cover;
  background-position: center;
}

  .container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-align: center;
  }
  
  .headerText {
    font-size: 28px;
    color: #f1f1f1;
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .errorMessage {
    color: red;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .input {
    width: 100%; /* Szerokość dostosowana do rodzica */
    height: 50px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Uwzględnia padding i obramowanie */
  }
  
  
  .loginButton,
  .remindButton,
  .registerButton {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .loginButton {
    background-color: #4caf50;
  }
  
  .remindButton {
    background-color: #2196f3;
  }
  
  .registerButton {
    background-color: #ff5722;
  }
  
  button:hover {
    opacity: 0.9;
  }
  