/* Stylizacja ogólna */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8; /* Jaśniejszy odcień szarości jako tło */
}

/* Tło i kontener strony */
.maps-pzw {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    min-height: 100vh;
    background: url('./ryba2.jpg') no-repeat center center; /* Ustawiamy obrazek jako tło */
    background-size: cover; /* Dopasowanie tła do rozmiaru ekranu */
    background-blend-mode: overlay; /* Dodanie efektu nałożenia gradientu na tło */
    background-color: rgba(0, 0, 0, 0.4); /* Ciemniejszy gradient na tle */
}

/* Nagłówek */
.maps-pzw-header-container {
    text-align: center;
    margin-bottom: 40px;
}

.maps-pzw-header {
    font-size: 36px;
    color: #ffffff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px; /* Dodanie odstępu między literami */
}

.maps-pzw-subheader {
    font-size: 18px;
    color: #f0f0f0;
    margin: 5px 0 0 0;
    font-weight: 500;
}

/* Siatka z regionami */
.maps-pzw-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Karta regionu */
.maps-pzw-card {
    background-color: #ffffff; /* Jasny kolor tła dla kart */
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px 20px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maps-pzw-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #f48fb1; /* Różowy odcień tła przy hover */
}

.maps-pzw-card-title {
    font-size: 20px;
    color: #0072ff; /* Niebieski dla tytułów */
    margin: 0;
    font-weight: bold;
}

/* Dodatkowy kontener z ciemniejszym tłem */
.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Ciemniejsze tło dla kontenera */
    border-radius: 10px;
}

.headerText {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}

.buttonList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Przycisk */
.button {
    background-color: #0072ff; /* Niebieski kolor przycisku */
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #005bb5; /* Ciemniejszy niebieski przy najechaniu */
    transform: scale(1.05); /* Efekt powiększenia przy hover */
}
